################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab9/.vs
/Lab9/bin/Debug/net8.0-windows
/Lab9/obj
